body {
    background-color: lightblue;
}

h1 {
    margin: 20px;
    font-size: 1.7rem;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

p {
    font-size: 1.2rem;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}